<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.name }}'s Movies - MovieWeb App</title>
</head>
<body>
    <h1>{{ user.name }}'s Favorite Movies</h1>
    <ul>
    {% for movie in movies %}
        <li>
            {{ movie.name }} ({{ movie.year }})
            <a href="{{ url_for('update_movie', user_id=user.id, movie_id=movie.id) }}">Edit</a>
            <a href="{{ url_for('delete_movie', user_id=user.id, movie_id=movie.id) }}">Delete</a>
        </li>
    {% endfor %}
    </ul>
    <a href="{{ url_for('add_movie', user_id=user.id) }}">Add Movie</a>
</body>
</html>